services:
  web:
    build: .
    ports: ["8080:80"]
    volumes:
      - ./public:/var/www/html:cached
      - ./resources:/var/www/resources:cached

    depends_on: [db]
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
    ports:
    - "3307:3306"
    command:
    - --character-set-server=utf8mb4
    - --collation-server=utf8mb4_0900_ai_ci
    volumes:
      - ./database/migrations:/docker-entrypoint-initdb.d