@charset "UTF-8";

/* 全体--------------------------------------------- */
html,
body {
  font-size: 100%;
  height: 100%;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", "Noto Sans Mono", monospace;
  line-height: 1.7;
  color: black;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 0 4%;
  box-sizing: border-box;
}
.page-wrapper {
  min-height: 100%;         
  display: flex;
  flex-direction: column;
}


ul li {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.error-ms {
  color: #FF0000;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

/*header--------------------------------------------- */
#top {
  height: 120px;
}

h1 img {
  width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}

.top-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.top-nav li {
  margin-left: 10px;
  background-color: #2D8C3D;
  padding: 8px 35px;
  border-radius: 30px;
}

.top-nav li a {
  color: #fff;
}

.top-nav .logout {
  background-color: #fff;
  border: #2D8C3D 1px solid;
}

.top-nav .logout a {
  color: #2D8C3D;
}

/*banner--------------------------------------------- */
.banner {
  display: flex;
  background-color: #2D8C3D;
  color: #fff;
  height: 120px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.banner h2 {
  font-size: 50px;
  margin: 0;
  letter-spacing: 0.2em;

}

/*main--------------------------------------------- */
main {
  background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
}
input {
  border: 0.4px solid #999999;
  border-radius: 20px;
}
.main {
  text-align: center;
  padding-top: 50px;
  flex: 1;
}


.main-nav ul {
  display: flex;
  padding-bottom: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin-left: 30px;
  background-color: #2D8C3D;
  padding: 16px 95px;
  border-radius: 70px;
}


.main-nav li a {
  color: #fff;
  font-size: 1.5rem;
}
.section-box {
  border: 1px solid #999999;
  border-radius: 20px;
}

h3 {
  font-size: 1.2rem;
}
.form {
  padding: 10px 5px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #F5E24D;
  width: 0%;
  transition: width 0.3s ease;
}
.ticks {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 4px;
}

.tick {
  position: relative;
  text-align: center;
  width: 1px;
}

.tick::before {
  content: "";
  position: absolute;
  top: -20px;  
  left: 50%;
  width: 1px;
  height: 20px;
  background: #333;
}

.form-img {
  width: 150px;
}

.section-content {
  display: flex;
  justify-content: space-around;
}

/*eat.html--------------------------------------------- */
.outputmeal {
  text-align: center;
  width: 50%;
}

.outputmeal textarea{
  width: 100%;
  height: 50px;
}

.bar h3{
  text-align: center;
}

.meallog-table {
  width: 80%;
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
  background-color: #fff;
  font-family:  ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", "Noto Sans Mono", monospace;
}
.meallog-table thead th {
  padding: 10px 12px;
  background: #f3f4f6;
  border-bottom: 2px solid #e6e7ea;
  font-weight: 600;
  vertical-align: bottom;
  font-size: 13px;
}

.meallog-table td{
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  font-size: 14px;
}

/*menu.html--------------------------------------------- */
.content {
  font-size: 20px;
}
.meal-category, .meal-protein, .meal-method {
  padding-bottom: 30px;
}

.confirm {
  padding: 30px 0;
}

/*footer--------------------------------------------- */
#footer {
  background-color: #2D8C3D;
  margin-top: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.footer {
  height: 70px;
  display: flex;
  color: #fff;
  align-items: flex-end;
}

.footer-logo img {
  width: 150px;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 280px;
}




/*スマホ幅対応------------------------------------------ */
/*全体--------------------------------------- */
@media (max-width: 768px) {}