@charset "UTF-8";
/* 全体--------------------------------------------- */
html, body  {
    font-size: 100%;
    height: 100%;
    margin: 0;
    font-family:  ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", "Noto Sans Mono", monospace;
    line-height: 1.7;
    color: black;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 0 4%;
  box-sizing: border-box;
}

ul li {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
.error-ms {
  color: #FF0000; 
  font-weight: bold; 
  margin-top: 20px;
}

/*header--------------------------------------------- */
#top {
  height: 120px;
}
h1 img{
    width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

.top-nav ul{
    display: flex;
    list-style: none;  
    padding: 0; 
}

.top-nav li {
    margin-left: 60px;
    background-color: #2D8C3D;
    padding: 8px 35px;
    border-radius: 30px;   
}

.top-nav li a {
  color: #fff; 
}

/*banner--------------------------------------------- */
.banner {
  display: flex;
  background-color: #2D8C3D;
  color: #fff;
  height: 120px;
  align-items: center;
  justify-content: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.banner h2 {
  font-size: 50px;
  margin: 0;
  letter-spacing: 0.2em; 
  
}

/*main--------------------------------------------- */

.main {
  text-align: center;
  margin-top: 50px;  
  margin-bottom: 450px;
    flex: 1;
}

.content {
  border: 0.5px solid #999999; 
  padding: 20px;             
  border-radius: 30px;   
  margin-top: 50px;     
}

.main-nav ul{
  display: flex;
  padding: 40px 0px;
  margin: 30px 100px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.main-nav li {
    margin-left: 30px;
    background-color: #2D8C3D;
    padding: 16px 95px;
    border-radius: 70px; 
}

.main-nav li a {
  color: #fff; 
  font-size: 1.5rem;
}

.letstart {
  font-size: 45px;
  font-family: "Zen Kaku Gothic New";
  margin-top: 50px;
}

ul li.login {
  background-color: #fff;
  border: 1px solid #2D8C3D;
}
ul li.login a {
  color: #2D8C3D;
}


/*login-------------------- */
.content {

}
.form {
  margin-top: 30px;
}
.form input {
  border: 0.3px solid #999999;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

/*setting------------------- */

.settingman {
  display: flex;
  justify-content: space-between;
}

.form-img {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  border: 0.4px solid#999999;
  border-radius: 16px;

}
.form-img img {
  height: 150px;      
  width: auto;       
  object-fit: cover;  
  margin: 30px 80px;
}
.question {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
.measure input {
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-bottom: 0.4px solid #999999;
  border-radius: 0;
}






/*footer--------------------------------------------- */
#footer {
  background-color: #2D8C3D;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.footer {
  height: 70px;
  display: flex;
  color: #fff;
  align-items: flex-end;
}

.footer-logo img{
  width: 150px;
}
.footer p {
  font-size: 0.8rem;
  margin-left: 280px;
}




/*スマホ幅対応------------------------------------------ */
/*全体--------------------------------------- */
@media (max-width: 768px) {}